.bg {
  &-primary {
    background-color: $primary-color;
  }
  &-primary-light {
    background-color: $primary-light-color;
  }
  &-primary-dark {
    background-color: $primary-dark-color;
  }
  &-blue-light {
    background-color: rgba($primary-color, 0.1);
  }
  &-grey {
    background-color: $grey-color;
  }
  &-grey-light {
    background-color: $grey-light-color;
  }
  &-light {
    background-color: $light-color;
  }
  &-gradient {
    background: url('../static/images/bg-gradient.jpg') center no-repeat;
  }
  &-gradient-0 {
    background-color: $primary-color;
  }
  &-gradient-1 {
    background: linear-gradient(
      180deg,
      $primary-color 0%,
      $primary-light-color 100%
    );
  }
  &-gradient-2 {
    background: linear-gradient(
      180deg,
      $primary-light-color 0%,
      $primary-color 100%
    );
  }
  &-contact {
    background-image: url('../assets/vectors/getintouch-vector.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
  }
  &-contact-full {
    background-image: url('../assets/vectors/getintouch-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &-solution {
    background-image: url('../assets/vectors/bg-solution.svg');
    background-repeat: no-repeat;
    background-position: center top;

    @media only screen and (max-width: $breakpoints-lg) {
      background-size: 1450px;
    }
    @media only screen and (max-width: $breakpoints-md) {
      background-size: 1350px;
    }
    @media only screen and (max-width: $breakpoints-sm) {
      background-size: 780px;
    }
  }
  &-categories {
    background: url('../assets/vectors/bg-categories.svg') top center no-repeat;
    background-size: cover;
  }
  &-hud-vertical {
    background: url('../assets/vectors/bg-hud-vertical.svg') top center
      no-repeat;
    background-size: contain;
  }
  &-hud-horizontal {
    background: url('../assets/vectors/bg-hud-horizontal.svg') center no-repeat;
    background-size: contain;
  }
  // &-sysfeature {
  //   background: url('../assets/vectors/bg-sysfeature.svg') top center no-repeat;
  //   background-size: contain;
  // }
  &-about {
    background: $primary-light-color url('../static/images/bg-about.jpg') center
      no-repeat;
  }
  &-about-tagline {
    display: flex;
    align-items: flex-end;
    background: url('../static/images/about-tagline.jpg') center no-repeat;
  }
  &-hexagon {
    background: url('../static/images/about-tagline_hexagon.svg') right bottom
      no-repeat;
    background-size: contain;
  }
  &-mission {
    background: url('../assets/vectors/hexagon-3.svg') -7rem top no-repeat;
    background-size: contain;
  }
}

.deco-hexagon {
  &-1 {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 42%;
      left: -10rem;
      width: 487px;
      height: 462px;
      background: url('../assets/vectors/hexagon-1.svg');
      z-index: 0;
    }
  }
  &-2 {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 40%;
      right: -13rem;
      width: 438px;
      height: 416px;
      background: url('../assets/vectors/hexagon-2.svg');
      @media only screen and (max-width: $breakpoints-sm) {
        right: -6rem;
        width: 219px;
        height: 208px;
      }
    }
  }
}

.deco-vertical {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -2px;
    top: 1.5rem;
    display: block;
    width: 4px;
    height: 3rem;
    background-color: $primary-light-color;
  }
}
