.ant-carousel .custom-slick-arrow {
    bottom: 0;
    top: auto;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: $white;
    border: 1px solid #bbb;
    opacity: 0.5;
  }
  .ant-carousel .custom-slick-arrow:before {
    display: none;
  }
  .ant-carousel .custom-slick-arrow:hover {
    opacity: 1;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }