// Color
.text {
  &-primary {
    color: $primary-color;
  }
  &-primary-light {
    color: $primary-light-color;
  }
  &-dark {
    color: $dark-color;
  }
  &-grey {
    color: $grey-color;
  }
  &-grey-light {
    color: $grey-light-color;
  }
  &-secondary {
    color: $secondary-color;
  }
  &-link {
    color: $dark-color !important;
    cursor: pointer;
    &:hover {
      color: $primary-color !important;
    }
  }
}

.border {
  &-primary-light {
    border-color: $primary-light-color;
  }
}
