.dot-list {
  margin-top: 1rem;
  margin-left: 1rem;
  padding-left: 1rem !important;

  li {
    position: relative;
  }

  li::before {
    content: '';
    position: absolute;
    display: flex;
    width: 10px;
    height: 10px;
    background-color: $primary-color;
    border-radius: 5px;
    top: 7px;
    left: -1.85rem;
    @media only screen and (max-width: $breakpoints-sm) {
      top: 5px;
    }
  }
}

.list-highlights {
  padding-left: 0 !important;

  li {
    display: flex;

    &::before {
      content: '';
      display: block;
      min-width: 12px;
      height: 12px;
      margin-top: 5px;
      margin-right: 1rem;
      background-color: $highlight-color;
    }
  }
}

.v-list {
  overflow-y: auto;
}

.v-list--flat .v-list-item {
  &:hover {
    background-color: $light-color;
  }
}
