@font-face {
    font-family: 'CSI-icon';
    src: url("fonts/CSI-icon.eot?39s57f");
    src: url("fonts/CSI-icon.eot?39s57f#iefix") format("embedded-opentype"), url("fonts/CSI-icon.ttf?39s57f") format("truetype"), url("fonts/CSI-icon.woff?39s57f") format("woff"), url("fonts/CSI-icon.svg?39s57f#CSI-icon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'CSI-icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-global_search_solid:before {
    content: "\e900";
}

.icon-guiding_solid:before {
    content: "\e901";
}

.icon-health_care_solid .path1:before {
    content: "\e902";
    color: rgb(0, 0, 0);
}

.icon-health_care_solid .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.99;
}

.icon-health_care_solid .path3:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.99;
}

.icon-high_customization_solid:before {
    content: "\e905";
}

.icon-increase_solid:before {
    content: "\e906";
}

.icon-increase_agility_flexibility_solid:before {
    content: "\e907";
}

.icon-info_alert_for_school_solid:before {
    content: "\e908";
}

.icon-info_archive_solid:before {
    content: "\e909";
}

.icon-info_recording_solid:before {
    content: "\e90a";
}

.icon-info_scan_solid:before {
    content: "\e90b";
}

.icon-info_scribe_solid:before {
    content: "\e90c";
}

.icon-infoshare_engine_solid:before {
    content: "\e90d";
}

.icon-insurance_solid:before {
    content: "\e90e";
}

.icon-intelligence_solid:before {
    content: "\e90f";
}

.icon-interfaces_solid:before {
    content: "\e910";
}

.icon-internal_affairs_solid:before {
    content: "\e911";
}

.icon-interoperability_solid:before {
    content: "\e912";
}

.icon-inv_epro_solid:before {
    content: "\e913";
}

.icon-investigation_solid:before {
    content: "\e914";
}

.icon-justice_court_solid:before {
    content: "\e915";
}

.icon-juvenile_solid:before {
    content: "\e916";
}

.icon-jv_rms_solid .path1:before {
    content: "\e917";
    color: rgb(0, 0, 0);
}

.icon-jv_rms_solid .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3002;
}

.icon-jv_rms_solid .path3:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3002;
}

.icon-jv_rms_solid .path4:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-jv_rms_solid .path5:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-jv_rms_solid .path6:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-jv_rms_solid .path7:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-jv_rms_solid .path8:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-jv_rms_solid .path9:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3033;
}

.icon-jv_rms_solid .path10:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3033;
}

.icon-k9_solid:before {
    content: "\e921";
}

.icon-laboratory_solid:before {
    content: "\e922";
}

.icon-life_insurance_solid:before {
    content: "\e923";
}

.icon-limited_expertise_necessary_solid:before {
    content: "\e924";
}

.icon-link_analysis_solid:before {
    content: "\e925";
}

.icon-lowcode_solid:before {
    content: "\e926";
}

.icon-major_incident_management_solid:before {
    content: "\e927";
}

.icon-mapping_solid:before {
    content: "\e928";
}

.icon-mapping_with_real_time_traffic_solid:before {
    content: "\e929";
}

.icon-master_location_and_data_import_solid:before {
    content: "\e92a";
}

.icon-master_name_index_solid:before {
    content: "\e92b";
}

.icon-medical_dental_solid:before {
    content: "\e92c";
}

.icon-mobile_data_terminal_solid:before {
    content: "\e92d";
}

.icon-money_insurance_solid:before {
    content: "\e92e";
}

.icon-motion_solid:before {
    content: "\e92f";
}

.icon-multi-agency_coverage_solid:before {
    content: "\e930";
}

.icon-municipal_solid:before {
    content: "\e931";
}

.icon-ncic_gateway_solid:before {
    content: "\e932";
}

.icon-nfirs_solid:before {
    content: "\e933";
}

.icon-nibrs_solid:before {
    content: "\e934";
}

.icon-notifications_solid:before {
    content: "\e935";
}

.icon-one_click_solid:before {
    content: "\e936";
}

.icon-online_transcription_service_solid:before {
    content: "\e937";
}

.icon-opra_solid:before {
    content: "\e938";
}

.icon-other_components_solid:before {
    content: "\e939";
}

.icon-other_rms_solid:before {
    content: "\e93a";
}

.icon-others_solid:before {
    content: "\e93b";
}

.icon-overview_solid:before {
    content: "\e93c";
}

.icon-paper_less_solid:before {
    content: "\e93d";
}

.icon-patrol_features_solid:before {
    content: "\e93e";
}

.icon-permission_based_security_solid:before {
    content: "\e93f";
}

.icon-permits_solid:before {
    content: "\e940";
}

.icon-personnel_solid:before {
    content: "\e941";
}

.icon-phone_dump_infoFile_solid:before {
    content: "\e942";
}

.icon-photography_solid:before {
    content: "\e943";
}

.icon-police_solid:before {
    content: "\e944";
}

.icon-policy_solid:before {
    content: "\e945";
}

.icon-productivity_agility_solid:before {
    content: "\e946";
}

.icon-prosecution_solid:before {
    content: "\e947";
}

.icon-public_defender_solid:before {
    content: "\e948";
}

.icon-public_safety_solid:before {
    content: "\e949";
}

.icon-qa_solid:before {
    content: "\e94a";
}

.icon-queue_server_solid:before {
    content: "\e94b";
}

.icon-quick_setup_and_deployment_solid .path1:before {
    content: "\e94c";
    color: rgb(0, 0, 0);
}

.icon-quick_setup_and_deployment_solid .path2:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-quick_setup_and_deployment_solid .path3:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.2988;
}

.icon-real_time_solution_solid:before {
    content: "\e94f";
}

.icon-reduce_solid:before {
    content: "\e950";
}

.icon-reduce_complexity_solid:before {
    content: "\e951";
}

.icon-reduce_streamline_resources_solid:before {
    content: "\e952";
}

.icon-regional_sharing_solid:before {
    content: "\e953";
}

.icon-relationship_solid:before {
    content: "\e954";
}

.icon-report_solid:before {
    content: "\e955";
}

.icon-report_generation_solid:before {
    content: "\e956";
}

.icon-resource_reduce_solid:before {
    content: "\e957";
}

.icon-rms_solid:before {
    content: "\e958";
}

.icon-robbery_solid:before {
    content: "\e959";
}

.icon-rolmes_solid:before {
    content: "\e95a";
}

.icon-sars_solid:before {
    content: "\e95b";
}

.icon-schedule_calendar_solid:before {
    content: "\e95c";
}

.icon-school_securities_solid:before {
    content: "\e95d";
}

.icon-search_function_solid:before {
    content: "\e95e";
}

.icon-security_force_solid:before {
    content: "\e95f";
}

.icon-server_support_solid:before {
    content: "\e960";
}

.icon-server_with_web_service_solid:before {
    content: "\e961";
}

.icon-sex_crime_solid:before {
    content: "\e962";
}

.icon-sheriff_solid:before {
    content: "\e963";
}

.icon-situational_awareness_solid:before {
    content: "\e964";
}

.icon-smartphone_application--Devices-Different_solid:before {
    content: "\e965";
}

.icon-smartphone_sync_solid:before {
    content: "\e966";
}

.icon-spca_solid .path1:before {
    content: "\e967";
    color: rgb(0, 0, 0);
}

.icon-spca_solid .path2:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-spca_solid .path3:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-spca_solid .path4:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-spca_solid .path5:before {
    content: "\e96b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-spca_solid .path6:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-spca_solid .path7:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.99;
}

.icon-spca_solid .path8:before {
    content: "\e96e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.99;
}

.icon-sub_modules_package_solid:before {
    content: "\e96f";
}

.icon-ta_solid:before {
    content: "\e970";
}

.icon-task_force_solid:before {
    content: "\e971";
}

.icon-technology_solid:before {
    content: "\e972";
}

.icon-time_management_solid:before {
    content: "\e973";
}

.icon-time_reduce_solid:before {
    content: "\e974";
}

.icon-total_solution_solid:before {
    content: "\e975";
}

.icon-traffic_cam_solid:before {
    content: "\e976";
}

.icon-unit_support_file_solid:before {
    content: "\e977";
}

.icon-vertical_integration_solid:before {
    content: "\e978";
}

.icon-victim_witness_solid .path1:before {
    content: "\e979";
    color: rgb(0, 0, 0);
}

.icon-victim_witness_solid .path2:before {
    content: "\e97a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.99;
}

.icon-warehouse-Management_solid:before {
    content: "\e97b";
}

.icon-warrants_solid:before {
    content: "\e97c";
}

.icon-fax_solid:before {
    content: "\e97d";
}

.icon-location_solid:before {
    content: "\e97e";
}

.icon-mail_solid:before {
    content: "\e97f";
}

.icon-search_solid:before {
    content: "\e980";
}

.icon-tel_solid:before {
    content: "\e981";
}

.icon-solid:before {
    content: "\e982";
}

.icon-abc_solid:before {
    content: "\e983";
}

.icon-active_response_solid:before {
    content: "\e984";
}

.icon-admin_solid:before {
    content: "\e985";
}

.icon-agency_control_solid:before {
    content: "\e986";
}

.icon-all_products_solid:before {
    content: "\e987";
}

.icon-alpr_Interface_solid:before {
    content: "\e988";
}

.icon-am_solid:before {
    content: "\e989";
}

.icon-analytics_solid:before {
    content: "\e98a";
}

.icon-aoc_solid:before {
    content: "\e98b";
}

.icon-arson_solid:before {
    content: "\e98c";
}

.icon-attorney_ethics_solid:before {
    content: "\e98d";
}

.icon-attorney_general_solid:before {
    content: "\e98e";
}

.icon-automate_workflow_solid:before {
    content: "\e98f";
}

.icon-avl_add_on_solid:before {
    content: "\e990";
}

.icon-bar_code_solid:before {
    content: "\e991";
}

.icon-base_solid:before {
    content: "\e992";
}

.icon-benefits_solid:before {
    content: "\e993";
}

.icon-bias_solid:before {
    content: "\e994";
}

.icon-built_in_compliance_solid:before {
    content: "\e995";
}

.icon-burglary_solid:before {
    content: "\e996";
}

.icon-cad_solid:before {
    content: "\e997";
}

.icon-cafeteria_plan_solid:before {
    content: "\e998";
}

.icon-call_center_solid:before {
    content: "\e999";
}

.icon-capabilities_solid:before {
    content: "\e99a";
}

.icon-case_management_solid:before {
    content: "\e99b";
}

.icon-center_app_solid:before {
    content: "\e99c";
}

.icon-child_advocacy_center_solid:before {
    content: "\e99d";
}

.icon-ci_cw_solid:before {
    content: "\e99e";
}

.icon-citations_crash_solid:before {
    content: "\e99f";
}

.icon-citizen_engagement_access_solid:before {
    content: "\e9a0";
}

.icon-civil_solid:before {
    content: "\e9a1";
}

.icon-cloud_hosting_solid:before {
    content: "\e9a2";
}

.icon-cloud_integration_solid:before {
    content: "\e9a3";
}

.icon-compliance_solid:before {
    content: "\e9a4";
}

.icon-computer_crime_solid:before {
    content: "\e9a5";
}

.icon-contact_solid:before {
    content: "\e9a6";
}

.icon-contractor_billing_solid:before {
    content: "\e9a7";
}

.icon-cost_reduce_solid:before {
    content: "\e9a8";
}

.icon-court_solid:before {
    content: "\e9a9";
}

.icon-crime_solid:before {
    content: "\e9aa";
}

.icon-crime_against_children_solid:before {
    content: "\e9ab";
}

.icon-crime_scene_investigation_solid:before {
    content: "\e9ac";
}

.icon-customer_rate_solid:before {
    content: "\e9ad";
}

.icon-data_integration_solid:before {
    content: "\e9ae";
}

.icon-data_migration_solid:before {
    content: "\e9af";
}

.icon-data_mining_solid:before {
    content: "\e9b0";
}

.icon-data_records_organization_solid:before {
    content: "\e9b1";
}

.icon-data_records_storage_solid:before {
    content: "\e9b2";
}

.icon-data_share_solid:before {
    content: "\e9b3";
}

.icon-database_link_solid:before {
    content: "\e9b4";
}

.icon-death_solid:before {
    content: "\e9b5";
}

.icon-defense_solid:before {
    content: "\e9b6";
}

.icon-doc_imaging_solid:before {
    content: "\e9b7";
}

.icon-duty_referral_solid:before {
    content: "\e9b8";
}

.icon-dv_family_solid .path1:before {
    content: "\e9b9";
    color: rgb(0, 0, 0);
    opacity: 0.99;
}

.icon-dv_family_solid .path2:before {
    content: "\e9ba";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.99;
}

.icon-dv_family_solid .path3:before {
    content: "\e9bb";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-dv_family_solid .path4:before {
    content: "\e9bc";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-dv_weapon_solid:before {
    content: "\e9bd";
}

.icon-e-discovery_portal_solid:before {
    content: "\e9be";
}

.icon-ecdr_solid:before {
    content: "\e9bf";
}

.icon-efficient_work_solid:before {
    content: "\e9c0";
}

.icon-efiling_solid:before {
    content: "\e9c1";
}

.icon-empowerment_rosigner_solid:before {
    content: "\e9c2";
}

.icon-ems_solid:before {
    content: "\e9c3";
}

.icon-enterprise_application_integration_solid:before {
    content: "\e9c4";
}

.icon-equipment_and_asset_management_solid:before {
    content: "\e9c5";
}

.icon-eticket_solid:before {
    content: "\e9c6";
}

.icon-evidence_solid:before {
    content: "\e9c7";
}

.icon-evidence_log_solid:before {
    content: "\e9c8";
}

.icon-experience_solid:before {
    content: "\e9c9";
}

.icon-external_solid:before {
    content: "\e9ca";
}

.icon-facts_solid:before {
    content: "\e9cb";
}

.icon-fatal_accident_solid:before {
    content: "\e9cc";
}

.icon-finance_solid:before {
    content: "\e9cd";
}

.icon-fingerprint_solid:before {
    content: "\e9ce";
}

.icon-fire_solid:before {
    content: "\e9cf";
}

.icon-fire_ems_solid:before {
    content: "\e9d0";
}

.icon-fire_inspection_solid:before {
    content: "\e9d1";
}

.icon-fire_rms_solid:before {
    content: "\e9d2";
}

.icon-fleet_solid:before {
    content: "\e9d3";
}

.icon-flexible_scheduling_solid:before {
    content: "\e9d4";
}

.icon-forfeiture_solid:before {
    content: "\e9d5";
}

.icon-fugitive_solid:before {
    content: "\e9d6";
}

.icon-fusion_center_ilog_solid:before {
    content: "\e9d7";
}

.icon-appeal_solid:before {
    content: "\e9d8";
}

.icon-alpr_interface_outline:before {
    content: "\e9d9";
}

.icon-am_outline:before {
    content: "\e9e0";
}

.icon-analytics_outline:before {
    content: "\e9e1";
}

.icon-aoc_outline:before {
    content: "\e9e2";
}

.icon-appeal_outline:before {
    content: "\e9e3";
}

.icon-arson_outline:before {
    content: "\e9e4";
}

.icon-attorney_ethics_outline:before {
    content: "\e9e5";
}

.icon-attorney_general_outline:before {
    content: "\e9e6";
}

.icon-automate_workflow_outline:before {
    content: "\e9e7";
}

.icon-avl-add_on_outline:before {
    content: "\e9e8";
}

.icon-bar_code_outline:before {
    content: "\e9e9";
}

.icon-base_outline:before {
    content: "\e9ea";
}

.icon-benefits_outline:before {
    content: "\e9eb";
}

.icon-bias_outline:before {
    content: "\e9ec";
}

.icon-built_in_compliance_outline:before {
    content: "\e9ed";
}

.icon-burglary_outline:before {
    content: "\e9ee";
}

.icon-cad_outline:before {
    content: "\e9ef";
}

.icon-cafeteria_plan_outline:before {
    content: "\e9f0";
}

.icon-call_center_outline:before {
    content: "\e9f1";
}

.icon-capabilities_outline:before {
    content: "\e9f2";
}

.icon-case_management_outline:before {
    content: "\e9f3";
}

.icon-center_app_outline:before {
    content: "\e9f4";
}

.icon-child_advocacy_center_outline:before {
    content: "\e9f5";
}

.icon-ci_cw_outline:before {
    content: "\e9f6";
}

.icon-citations_crash_outline:before {
    content: "\e9f7";
}

.icon-citizen_engagement_access_outline:before {
    content: "\e9f8";
}

.icon-civil_outline:before {
    content: "\e9f9";
}

.icon-cloud_hosting_outline:before {
    content: "\e9fa";
}

.icon-cloud_integration_outline:before {
    content: "\e9fb";
}

.icon-compliance_outline:before {
    content: "\e9fc";
}

.icon-computer_crime_outline:before {
    content: "\e9fd";
}

.icon-contact_outline:before {
    content: "\e9fe";
}

.icon-contractor_billing_outline:before {
    content: "\e9ff";
}

.icon-cost_reduce-outline:before {
    content: "\ea00";
}

.icon-court_outline:before {
    content: "\ea01";
}

.icon-crime_against_children_outline:before {
    content: "\ea02";
}

.icon-crime_outline:before {
    content: "\ea03";
}

.icon-crime_scene_investigation_outline:before {
    content: "\ea04";
}

.icon-customer_rate_outline:before {
    content: "\ea05";
}

.icon-data_integration_outline:before {
    content: "\ea06";
}

.icon-data_migration_outline:before {
    content: "\ea07";
}

.icon-data_mining_outline:before {
    content: "\ea08";
}

.icon-data_records_organization_outline:before {
    content: "\ea09";
}

.icon-data_records_storage_outline:before {
    content: "\ea0a";
}

.icon-data_share_outline:before {
    content: "\ea0b";
}

.icon-database_link_outline:before {
    content: "\ea0c";
}

.icon-death_outline:before {
    content: "\ea0d";
}

.icon-defense_outline:before {
    content: "\ea0e";
}

.icon-doc_imaging_outline:before {
    content: "\ea0f";
}

.icon-duty_referral_outline:before {
    content: "\ea10";
}

.icon-dv_family_outline:before {
    content: "\ea11";
}

.icon-dv_weapon_outline:before {
    content: "\ea12";
}

.icon-e_discovery_portal_outline:before {
    content: "\ea13";
}

.icon-ecdr_outline:before {
    content: "\ea14";
}

.icon-efficient_work_outline:before {
    content: "\ea15";
}

.icon-efiling_outline:before {
    content: "\ea16";
}

.icon-empowerment_rosigner_outline:before {
    content: "\ea17";
}

.icon-ems_outline:before {
    content: "\ea18";
}

.icon-enterprise_application_integration_outline:before {
    content: "\ea19";
}

.icon-equipment_and_asset_management_outline:before {
    content: "\ea1a";
}

.icon-eticket_outline:before {
    content: "\ea1b";
}

.icon-evidence_log_outline:before {
    content: "\ea1c";
}

.icon-evidence_outline:before {
    content: "\ea1d";
}

.icon-experience_outline:before {
    content: "\ea1e";
}

.icon-external_outline:before {
    content: "\ea1f";
}

.icon-facts_outline:before {
    content: "\ea20";
}

.icon-fatal_accident_outline:before {
    content: "\ea21";
}

.icon-finance_outline:before {
    content: "\ea22";
}

.icon-fingerprint_outline:before {
    content: "\ea23";
}

.icon-fire_ems_outline:before {
    content: "\ea24";
}

.icon-fire_inspection_outline:before {
    content: "\ea25";
}

.icon-fire_outline:before {
    content: "\ea26";
}

.icon-fire_rms_outline:before {
    content: "\ea27";
}

.icon-fleet_outline:before {
    content: "\ea28";
}

.icon-flexible_scheduling_outline:before {
    content: "\ea29";
}

.icon-forfeiture_outline:before {
    content: "\ea2a";
}

.icon-fugitive_outline:before {
    content: "\ea2b";
}

.icon-fusion_center_ilog_outline:before {
    content: "\ea2c";
}

.icon-global_search_outline:before {
    content: "\ea2d";
}

.icon-guiding_outline:before {
    content: "\ea2e";
}

.icon-health_care_outline:before {
    content: "\ea2f";
}

.icon-high_customization_outline:before {
    content: "\ea30";
}

.icon-info_recording_outline:before {
    content: "\ea31";
}

.icon-increase_agility_flexibility_outline:before {
    content: "\ea32";
}

.icon-increase_outline:before {
    content: "\ea33";
}

.icon-info_alert_for_school_outline:before {
    content: "\ea34";
}

.icon-info_archive_outline:before {
    content: "\ea35";
}

.icon-info_scan_outline:before {
    content: "\ea36";
}

.icon-info_scribe_outline:before {
    content: "\ea37";
}

.icon-infoshare_engine_outline:before {
    content: "\ea38";
}

.icon-insurance_outline:before {
    content: "\ea39";
}

.icon-intelligence_outline:before {
    content: "\ea3a";
}

.icon-interfaces_outline:before {
    content: "\ea3b";
}

.icon-internal_affairs_outline:before {
    content: "\ea3c";
}

.icon-interoperability_outline:before {
    content: "\ea3d";
}

.icon-inv_epro_outline:before {
    content: "\ea3e";
}

.icon-investigation_outline:before {
    content: "\ea3f";
}

.icon-justice_court_outline:before {
    content: "\ea40";
}

.icon-juvenile_outline:before {
    content: "\ea41";
}

.icon-jv_rms_outline:before {
    content: "\ea42";
}

.icon-k9_outline:before {
    content: "\ea43";
}

.icon-laboratory_outline:before {
    content: "\ea44";
}

.icon-life_insurance_outline:before {
    content: "\ea45";
}

.icon-limited_expertise_necessary_outline:before {
    content: "\ea46";
}

.icon-link_analysis_outline:before {
    content: "\ea47";
}

.icon-low_code_outline:before {
    content: "\ea48";
}

.icon-major_incident_management_outline:before {
    content: "\ea49";
}

.icon-mapping_outline:before {
    content: "\ea4a";
}

.icon-mapping_with_real_time_traffic_outline:before {
    content: "\ea4b";
}

.icon-master_location_and_data_import_outline:before {
    content: "\ea4c";
}

.icon-master_name_index_outline:before {
    content: "\ea4d";
}

.icon-medical_dental_outline:before {
    content: "\ea4e";
}

.icon-mobile_data_terminal_outline:before {
    content: "\ea4f";
}

.icon-money_insurance_outline:before {
    content: "\ea50";
}

.icon-motion_outline:before {
    content: "\ea51";
}

.icon-multi-agency_coverage_outline:before {
    content: "\ea52";
}

.icon-municipal_outline:before {
    content: "\ea53";
}

.icon-ncic_gateway_outline:before {
    content: "\ea54";
}

.icon-nfirs_outline:before {
    content: "\ea55";
}

.icon-nibrs_outline:before {
    content: "\ea56";
}

.icon-notifications_outline:before {
    content: "\ea57";
}

.icon-one_click_outline:before {
    content: "\ea58";
}

.icon-online_transcription_service_outline:before {
    content: "\ea59";
}

.icon-opra_outline:before {
    content: "\ea5a";
}

.icon-other_components_outline:before {
    content: "\ea5b";
}

.icon-other_rms_outline:before {
    content: "\ea5c";
}

.icon-others_outline:before {
    content: "\ea5d";
}

.icon-overview_outline:before {
    content: "\ea5e";
}

.icon-paper_less_outline:before {
    content: "\ea5f";
}

.icon-patrol_features_outline:before {
    content: "\ea60";
}

.icon-permission_based_security_outline:before {
    content: "\ea61";
}

.icon-permits_outline:before {
    content: "\ea62";
}

.icon-personnel_outline:before {
    content: "\ea63";
}

.icon-phone_dump_infofile_outline:before {
    content: "\ea64";
}

.icon-photography_outline:before {
    content: "\ea65";
}

.icon-police_outline:before {
    content: "\ea66";
}

.icon-policy_outline:before {
    content: "\ea67";
}

.icon-productivity_agility_outline:before {
    content: "\ea68";
}

.icon-prosecution_outline:before {
    content: "\ea69";
}

.icon-public_defender_outline:before {
    content: "\ea6a";
}

.icon-public_safety_outline:before {
    content: "\ea6b";
}

.icon-qa_outline:before {
    content: "\ea6c";
}

.icon-queue_server_outline:before {
    content: "\ea6d";
}

.icon-quick_setup_and_deployment_outline:before {
    content: "\ea6e";
}

.icon-real_time_solution_outline:before {
    content: "\ea6f";
}

.icon-reduce_complexity_outline:before {
    content: "\ea70";
}

.icon-reduce_outline:before {
    content: "\ea71";
}

.icon-reduce_streamline_resources_outline:before {
    content: "\ea72";
}

.icon-regional_sharing_outline:before {
    content: "\ea73";
}

.icon-relationship_outline:before {
    content: "\ea74";
}

.icon-report_generation_outline:before {
    content: "\ea75";
}

.icon-report_outline:before {
    content: "\ea76";
}

.icon-resource_reduce_outline:before {
    content: "\ea77";
}

.icon-rms_outline:before {
    content: "\ea78";
}

.icon-robbery_outline:before {
    content: "\ea79";
}

.icon-rolmes_outline:before {
    content: "\ea7a";
}

.icon-sars_outline:before {
    content: "\ea7b";
}

.icon-schedule_calendar_outline:before {
    content: "\ea7c";
}

.icon-school_securities_outline:before {
    content: "\ea7d";
}

.icon-search_function_outline:before {
    content: "\ea7e";
}

.icon-security_force_outline:before {
    content: "\ea7f";
}

.icon-server_support_outline:before {
    content: "\ea80";
}

.icon-server_with_web_service_outline:before {
    content: "\ea81";
}

.icon-sex_crime_outline:before {
    content: "\ea82";
}

.icon-sheriff_outline:before {
    content: "\ea83";
}

.icon-situational_awareness_outline:before {
    content: "\ea84";
}

.icon-smartphone_application_devices_different_outline:before {
    content: "\ea85";
}

.icon-smartphone_sync_outline:before {
    content: "\ea86";
}

.icon-spca_outline:before {
    content: "\ea87";
}

.icon-sub_modules_package_outline:before {
    content: "\ea88";
}

.icon-ta_outline:before {
    content: "\ea89";
}

.icon-task_force_outline:before {
    content: "\ea8a";
}

.icon-technology_outline:before {
    content: "\ea8b";
}

.icon-time_management_outline:before {
    content: "\ea8c";
}

.icon-time_reduce-outline:before {
    content: "\ea8d";
}

.icon-total_solution_outline:before {
    content: "\ea8e";
}

.icon-traffic_cam_outline:before {
    content: "\ea8f";
}

.icon-unit_support_file_outline:before {
    content: "\ea90";
}

.icon-vertical_integration_outline:before {
    content: "\ea91";
}

.icon-victim_witness_outline:before {
    content: "\ea92";
}

.icon-warehouse_management_outline:before {
    content: "\ea93";
}

.icon-warrants_outline:before {
    content: "\ea94";
}

.icon-outline:before {
    content: "\ea95";
}

.icon-abc_outline:before {
    content: "\ea96";
}

.icon-active_response_outline:before {
    content: "\ea97";
}

.icon-admin_outline:before {
    content: "\ea98";
}

.icon-agency_control_outline:before {
    content: "\ea99";
}

.icon-all_products_outline:before {
    content: "\ea9a";
}

.icon-fax_outline:before {
    content: "\ea9b";
}

.icon-location_outline:before {
    content: "\ea9c";
}

.icon-mail_outline:before {
    content: "\ea9d";
}

.icon-search_outline:before {
    content: "\ea9e";
}

.icon-tel_outline:before {
    content: "\ea9f";
}
