@font-face {
  font-family: 'CSI-icon';
  src:  url('fonts/CSI-icon.eot?3034l7');
  src:  url('fonts/CSI-icon.eot?3034l7#iefix') format('embedded-opentype'),
    url('fonts/CSI-icon.ttf?3034l7') format('truetype'),
    url('fonts/CSI-icon.woff?3034l7') format('woff'),
    url('fonts/CSI-icon.svg?3034l7#CSI-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CSI-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-solid:before {
  content: "\e900";
}
.icon-abc_solid:before {
  content: "\e901";
}
.icon-active_response_solid:before {
  content: "\e902";
}
.icon-admin_solid:before {
  content: "\e903";
}
.icon-agencies_solid:before {
  content: "\e904";
}
.icon-agency_control_solid:before {
  content: "\e905";
}
.icon-all_products_solid:before {
  content: "\e906";
}
.icon-alpr_solid:before {
  content: "\e907";
}
.icon-am_solid:before {
  content: "\e908";
}
.icon-analytics_solid:before {
  content: "\e909";
}
.icon-aoc_solid:before {
  content: "\e90a";
}
.icon-appeal_solid:before {
  content: "\e90b";
}
.icon-arson_solid:before {
  content: "\e90c";
}
.icon-attorney_ethics_solid:before {
  content: "\e90d";
}
.icon-attorney_general_solid:before {
  content: "\e90e";
}
.icon-avl_solid:before {
  content: "\e90f";
}
.icon-barcode_solid:before {
  content: "\e910";
}
.icon-base_solid:before {
  content: "\e911";
}
.icon-benefits_solid:before {
  content: "\e912";
}
.icon-bias_solid:before {
  content: "\e913";
}
.icon-billing_solid:before {
  content: "\e914";
}
.icon-built_in_compliance_solid:before {
  content: "\e915";
}
.icon-burglary_solid:before {
  content: "\e916";
}
.icon-cad_solid:before {
  content: "\e917";
}
.icon-cafeteria_plan_solid:before {
  content: "\e918";
}
.icon-calendar_solid:before {
  content: "\e919";
}
.icon-call_center_solid:before {
  content: "\e91a";
}
.icon-cam_solid:before {
  content: "\e91b";
}
.icon-capabilities_solid:before {
  content: "\e91c";
}
.icon-case_management_solid:before {
  content: "\e91d";
}
.icon-center_app_solid:before {
  content: "\e91e";
}
.icon-child_center_solid:before {
  content: "\e91f";
}
.icon-ci_cw_solid:before {
  content: "\e920";
}
.icon-citizen_access_solid:before {
  content: "\e921";
}
.icon-civil_solid:before {
  content: "\e922";
}
.icon-click_solid:before {
  content: "\e923";
}
.icon-cloud_hosting_solid:before {
  content: "\e924";
}
.icon-cloud_integration_solid:before {
  content: "\e925";
}
.icon-compliance_solid:before {
  content: "\e926";
}
.icon-components_solid:before {
  content: "\e927";
}
.icon-contact_solid:before {
  content: "\e928";
}
.icon-cost_reduce_solid:before {
  content: "\e929";
}
.icon-court_solid:before {
  content: "\e92a";
}
.icon-crash_solid:before {
  content: "\e92b";
}
.icon-crime_children_solid:before {
  content: "\e92c";
}
.icon-crime_solid:before {
  content: "\e92d";
}
.icon-csi_solid:before {
  content: "\e92e";
}
.icon-customer_rate_solid:before {
  content: "\e92f";
}
.icon-customization_solid:before {
  content: "\e930";
}
.icon-data_import_solid:before {
  content: "\e931";
}
.icon-data_integration_solid:before {
  content: "\e932";
}
.icon-data_migration_solid:before {
  content: "\e933";
}
.icon-data_mining_solid:before {
  content: "\e934";
}
.icon-data_organization_solid:before {
  content: "\e935";
}
.icon-data_share_solid:before {
  content: "\e936";
}
.icon-data_storage_solid:before {
  content: "\e937";
}
.icon-database_link_solid:before {
  content: "\e938";
}
.icon-death_solid:before {
  content: "\e939";
}
.icon-defense_solid:before {
  content: "\e93a";
}
.icon-doc_management_solid:before {
  content: "\e93b";
}
.icon-duty_referral_solid:before {
  content: "\e93c";
}
.icon-dv_family_solid .path1:before {
  content: "\e93d";
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.icon-dv_family_solid .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.icon-dv_family_solid .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dv_family_solid .path4:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dv_weapon_solid:before {
  content: "\e941";
}
.icon-ecdr_solid:before {
  content: "\e942";
}
.icon-ediscovery_solid:before {
  content: "\e943";
}
.icon-efficient_solid:before {
  content: "\e944";
}
.icon-efiling_solid:before {
  content: "\e945";
}
.icon-emergency_care_solid:before {
  content: "\e946";
}
.icon-empowerment_solid:before {
  content: "\e947";
}
.icon-ems_solid:before {
  content: "\e948";
}
.icon-engine_solid:before {
  content: "\e949";
}
.icon-enterprise_application_solid:before {
  content: "\e94a";
}
.icon-equipment_asset_solid:before {
  content: "\e94b";
}
.icon-eticket_solid:before {
  content: "\e94c";
}
.icon-evidence_log_solid:before {
  content: "\e94d";
}
.icon-evidence_solid:before {
  content: "\e94e";
}
.icon-experience_solid:before {
  content: "\e94f";
}
.icon-external_solid:before {
  content: "\e950";
}
.icon-facts_solid:before {
  content: "\e951";
}
.icon-fatal_accident_solid:before {
  content: "\e952";
}
.icon-finance_solid:before {
  content: "\e953";
}
.icon-fingerprint_solid:before {
  content: "\e954";
}
.icon-fire_ems_solid:before {
  content: "\e955";
}
.icon-fire_inspection_solid:before {
  content: "\e956";
}
.icon-fire_rms_solid:before {
  content: "\e957";
}
.icon-fire_solid:before {
  content: "\e958";
}
.icon-fleet_solid:before {
  content: "\e959";
}
.icon-flexible_scheduling_solid:before {
  content: "\e95a";
}
.icon-forfeiture_solid:before {
  content: "\e95b";
}
.icon-fugitive_solid:before {
  content: "\e95c";
}
.icon-fusion_center_solid:before {
  content: "\e95d";
}
.icon-fax_solid:before {
  content: "\e95e";
}
.icon-location_solid:before {
  content: "\e95f";
}
.icon-mail_solid:before {
  content: "\e960";
}
.icon-search_solid:before {
  content: "\e961";
}
.icon-tel_solid:before {
  content: "\e962";
}
.icon-global_search_solid:before {
  content: "\e963";
}
.icon-guiding_solid:before {
  content: "\e964";
}
.icon-h1b_solid:before {
  content: "\e965";
}
.icon-hacker_solid:before {
  content: "\e966";
}
.icon-id_solid:before {
  content: "\e967";
}
.icon-image_trend_solid:before {
  content: "\e968";
}
.icon-increase_agility_solid:before {
  content: "\e969";
}
.icon-increase_solid:before {
  content: "\e96a";
}
.icon-info_archive_solid:before {
  content: "\e96b";
}
.icon-info_recording_solid:before {
  content: "\e96c";
}
.icon-info_scan_solid:before {
  content: "\e96d";
}
.icon-info_scribe_solid:before {
  content: "\e96e";
}
.icon-info_video_solid:before {
  content: "\e96f";
}
.icon-intelligence_solid:before {
  content: "\e970";
}
.icon-interfaces_solid:before {
  content: "\e971";
}
.icon-internal_affairs_solid:before {
  content: "\e972";
}
.icon-interoperability_solid:before {
  content: "\e973";
}
.icon-inv_epro_solid:before {
  content: "\e974";
}
.icon-investigation_solid:before {
  content: "\e975";
}
.icon-justice_court_solid:before {
  content: "\e976";
}
.icon-juvenile_solid:before {
  content: "\e977";
}
.icon-jv_rms_solid .path1:before {
  content: "\e978";
  color: rgb(0, 0, 0);
}
.icon-jv_rms_solid .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3002;
}
.icon-jv_rms_solid .path3:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3002;
}
.icon-jv_rms_solid .path4:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-jv_rms_solid .path5:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-jv_rms_solid .path6:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-jv_rms_solid .path7:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-jv_rms_solid .path8:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-jv_rms_solid .path9:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3033;
}
.icon-jv_rms_solid .path10:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3033;
}
.icon-k9_solid:before {
  content: "\e982";
}
.icon-laboratory_solid:before {
  content: "\e983";
}
.icon-limited_expertise_solid:before {
  content: "\e984";
}
.icon-link_analysis_solid:before {
  content: "\e985";
}
.icon-lowcode_solid:before {
  content: "\e986";
}
.icon-map_solid:before {
  content: "\e987";
}
.icon-mapping_solid:before {
  content: "\e988";
}
.icon-master_name_index_solid:before {
  content: "\e989";
}
.icon-mdt_solid:before {
  content: "\e98a";
}
.icon-med_care_solid .path1:before {
  content: "\e98b";
  color: rgb(0, 0, 0);
}
.icon-med_care_solid .path2:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.icon-med_care_solid .path3:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.icon-medical_dental_solid:before {
  content: "\e98e";
}
.icon-mim_solid:before {
  content: "\e98f";
}
.icon-mobile_operations_solid:before {
  content: "\e990";
}
.icon-mobile_sync_solid:before {
  content: "\e991";
}
.icon-modules_package_solid:before {
  content: "\e992";
}
.icon-money_insurance_solid:before {
  content: "\e993";
}
.icon-motion_solid:before {
  content: "\e994";
}
.icon-municipal_solid:before {
  content: "\e995";
}
.icon-ncic_gateway_solid:before {
  content: "\e996";
}
.icon-nfirs_solid:before {
  content: "\e997";
}
.icon-nibrs_solid:before {
  content: "\e998";
}
.icon-notifications_solid:before {
  content: "\e999";
}
.icon-online_trans_solid:before {
  content: "\e99a";
}
.icon-opra_solid:before {
  content: "\e99b";
}
.icon-other_rms_solid:before {
  content: "\e99c";
}
.icon-others_solid:before {
  content: "\e99d";
}
.icon-overview_solid:before {
  content: "\e99e";
}
.icon-paper_less_solid:before {
  content: "\e99f";
}
.icon-patrol_features_solid:before {
  content: "\e9a0";
}
.icon-permission_security_solid:before {
  content: "\e9a1";
}
.icon-permits_solid:before {
  content: "\e9a2";
}
.icon-personnel_solid:before {
  content: "\e9a3";
}
.icon-phone_dump_file_solid:before {
  content: "\e9a4";
}
.icon-photography_solid:before {
  content: "\e9a5";
}
.icon-police_solid:before {
  content: "\e9a6";
}
.icon-policy_solid:before {
  content: "\e9a7";
}
.icon-productivity_solid:before {
  content: "\e9a8";
}
.icon-prosecution_solid:before {
  content: "\e9a9";
}
.icon-public_defender_solid:before {
  content: "\e9aa";
}
.icon-public_safety_solid:before {
  content: "\e9ab";
}
.icon-qa_solid:before {
  content: "\e9ac";
}
.icon-queue_server_solid:before {
  content: "\e9ad";
}
.icon-quick_deployment_solid:before {
  content: "\e9ae";
}
.icon-real_time_solid:before {
  content: "\e9af";
}
.icon-reduce_complexity_solid:before {
  content: "\e9b0";
}
.icon-reduce_solid:before {
  content: "\e9b1";
}
.icon-regional_sharing_solid:before {
  content: "\e9b2";
}
.icon-relationship_solid:before {
  content: "\e9b3";
}
.icon-report_generation_solid:before {
  content: "\e9b4";
}
.icon-report_solid:before {
  content: "\e9b5";
}
.icon-resource_reduce_solid:before {
  content: "\e9b6";
}
.icon-rms_solid:before {
  content: "\e9b7";
}
.icon-robbery_solid:before {
  content: "\e9b8";
}
.icon-rolmes_solid:before {
  content: "\e9b9";
}
.icon-sars_solid:before {
  content: "\e9ba";
}
.icon-school_alert_solid:before {
  content: "\e9bb";
}
.icon-school_securities_solid:before {
  content: "\e9bc";
}
.icon-search_function_solid:before {
  content: "\e9bd";
}
.icon-security_force_solid:before {
  content: "\e9be";
}
.icon-server_service_solid:before {
  content: "\e9bf";
}
.icon-server_support_solid:before {
  content: "\e9c0";
}
.icon-sex_crime_solid:before {
  content: "\e9c1";
}
.icon-sheriff_solid:before {
  content: "\e9c2";
}
.icon-situational_awareness_solid:before {
  content: "\e9c3";
}
.icon-sos_solid:before {
  content: "\e9c4";
}
.icon-spca_solid .path1:before {
  content: "\e9c5";
  color: rgb(0, 0, 0);
}
.icon-spca_solid .path2:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spca_solid .path3:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spca_solid .path4:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spca_solid .path5:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spca_solid .path6:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spca_solid .path7:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.icon-spca_solid .path8:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.icon-streamline_solid:before {
  content: "\e9cd";
}
.icon-ta_solid:before {
  content: "\e9ce";
}
.icon-task_force_solid:before {
  content: "\e9cf";
}
.icon-technology_solid:before {
  content: "\e9d0";
}
.icon-time_management_solid:before {
  content: "\e9d1";
}
.icon-time_reduce_solid:before {
  content: "\e9d2";
}
.icon-total_solution_solid:before {
  content: "\e9d3";
}
.icon-unit_support_solid:before {
  content: "\e9d4";
}
.icon-vertical_integration_solid:before {
  content: "\e9d5";
}
.icon-vw_solid .path1:before {
  content: "\e9d6";
  color: rgb(0, 0, 0);
}
.icon-vw_solid .path2:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.icon-warehouse_solid:before {
  content: "\e9d8";
}
.icon-warrants_solid:before {
  content: "\e9d9";
}
.icon-worker_insurance_solid:before {
  content: "\e9da";
}
.icon-workflow_solid:before {
  content: "\e9db";
}
.icon-outline:before {
  content: "\e9dc";
}
.icon-abc_outline:before {
  content: "\e9dd";
}
.icon-active_response_outline:before {
  content: "\e9de";
}
.icon-admin_outline:before {
  content: "\e9df";
}
.icon-agencies_outline:before {
  content: "\e9e0";
}
.icon-agency_control_outline:before {
  content: "\e9e1";
}
.icon-all_products_outline:before {
  content: "\e9e2";
}
.icon-alpr_outline:before {
  content: "\e9e3";
}
.icon-am_outline:before {
  content: "\e9e4";
}
.icon-analytics_outline:before {
  content: "\e9e5";
}
.icon-aoc_outline:before {
  content: "\e9e6";
}
.icon-appeal_outline:before {
  content: "\e9e7";
}
.icon-arson_outline:before {
  content: "\e9e8";
}
.icon-attorney_ethics_outline:before {
  content: "\e9e9";
}
.icon-attorney_general_outline:before {
  content: "\e9ea";
}
.icon-avl_outline:before {
  content: "\e9eb";
}
.icon-barcode_outline:before {
  content: "\e9ec";
}
.icon-base_outline:before {
  content: "\e9ed";
}
.icon-benefits_outline:before {
  content: "\e9ee";
}
.icon-bias_outline:before {
  content: "\e9ef";
}
.icon-billing_outline:before {
  content: "\e9f0";
}
.icon-built_in_compliance_outline:before {
  content: "\e9f1";
}
.icon-burglary_outline:before {
  content: "\e9f2";
}
.icon-cad_outline:before {
  content: "\e9f3";
}
.icon-cafeteria_plan_outline:before {
  content: "\e9f4";
}
.icon-calendar_outline:before {
  content: "\e9f5";
}
.icon-call_center_outline:before {
  content: "\e9f6";
}
.icon-cam_outline:before {
  content: "\e9f7";
}
.icon-capabilities_outline:before {
  content: "\e9f8";
}
.icon-case_management_outline:before {
  content: "\e9f9";
}
.icon-center_app_outline:before {
  content: "\e9fa";
}
.icon-child_center_outline:before {
  content: "\e9fb";
}
.icon-ci_cw_outline:before {
  content: "\e9fc";
}
.icon-citizen_access_outline:before {
  content: "\e9fd";
}
.icon-civil_outline:before {
  content: "\e9fe";
}
.icon-click_outline:before {
  content: "\e9ff";
}
.icon-cloud_hosting_outline:before {
  content: "\ea00";
}
.icon-cloud_integration_outline:before {
  content: "\ea01";
}
.icon-compliance_outline:before {
  content: "\ea02";
}
.icon-components_outline:before {
  content: "\ea03";
}
.icon-contact_outline:before {
  content: "\ea04";
}
.icon-cost_reduce_outline:before {
  content: "\ea05";
}
.icon-court_outline:before {
  content: "\ea06";
}
.icon-crash_outline:before {
  content: "\ea07";
}
.icon-crime_children_outline:before {
  content: "\ea08";
}
.icon-crime_outline:before {
  content: "\ea09";
}
.icon-csi_outline:before {
  content: "\ea0a";
}
.icon-customer_rate_outline:before {
  content: "\ea0b";
}
.icon-customization_outline:before {
  content: "\ea0c";
}
.icon-data_import_outline:before {
  content: "\ea0d";
}
.icon-data_integration_outline:before {
  content: "\ea0e";
}
.icon-data_migration_outline:before {
  content: "\ea0f";
}
.icon-data_mining_outline:before {
  content: "\ea10";
}
.icon-data_organization_outline:before {
  content: "\ea11";
}
.icon-data_share_outline:before {
  content: "\ea12";
}
.icon-data_storage_outline:before {
  content: "\ea13";
}
.icon-database_link_outline:before {
  content: "\ea14";
}
.icon-death_outline:before {
  content: "\ea15";
}
.icon-defense_outline:before {
  content: "\ea16";
}
.icon-doc_management_outline:before {
  content: "\ea17";
}
.icon-duty_referral_outline:before {
  content: "\ea18";
}
.icon-dv_family_outline:before {
  content: "\ea19";
}
.icon-dv_weapon_outline:before {
  content: "\ea1a";
}
.icon-ecdr_outline:before {
  content: "\ea1b";
}
.icon-ediscovery_outline:before {
  content: "\ea1c";
}
.icon-efficient_outline:before {
  content: "\ea1d";
}
.icon-efiling_outline:before {
  content: "\ea1e";
}
.icon-emergency_care_outline:before {
  content: "\ea1f";
}
.icon-empowerment_outline:before {
  content: "\ea20";
}
.icon-ems_outline:before {
  content: "\ea21";
}
.icon-engine_outline:before {
  content: "\ea22";
}
.icon-enterprise_application_outline:before {
  content: "\ea23";
}
.icon-equipment_asset_outline:before {
  content: "\ea24";
}
.icon-eticket_outline:before {
  content: "\ea25";
}
.icon-evidence_log_outline:before {
  content: "\ea26";
}
.icon-evidence_outline:before {
  content: "\ea27";
}
.icon-experience_outline:before {
  content: "\ea28";
}
.icon-external_outline:before {
  content: "\ea29";
}
.icon-facts_outline:before {
  content: "\ea2a";
}
.icon-fatal_accident_outline:before {
  content: "\ea2b";
}
.icon-finance_outline:before {
  content: "\ea2c";
}
.icon-fingerprint_outline:before {
  content: "\ea2d";
}
.icon-fire_ems_outline:before {
  content: "\ea2e";
}
.icon-fire_inspection_outline:before {
  content: "\ea2f";
}
.icon-fire_outline:before {
  content: "\ea30";
}
.icon-fire_rms_outline:before {
  content: "\ea31";
}
.icon-fleet_outline:before {
  content: "\ea32";
}
.icon-flexible_scheduling_outline:before {
  content: "\ea33";
}
.icon-forfeiture_outline:before {
  content: "\ea34";
}
.icon-fugitive_outline:before {
  content: "\ea35";
}
.icon-fusion_center_outline:before {
  content: "\ea36";
}
.icon-global_search_outline:before {
  content: "\ea37";
}
.icon-guiding_outline:before {
  content: "\ea38";
}
.icon-h1b_outline:before {
  content: "\ea39";
}
.icon-hacker_outline:before {
  content: "\ea3a";
}
.icon-id_outline:before {
  content: "\ea3b";
}
.icon-image_trend_outline:before {
  content: "\ea3c";
}
.icon-increase_agility_outline:before {
  content: "\ea3d";
}
.icon-increase_outline:before {
  content: "\ea3e";
}
.icon-info_archive_outline:before {
  content: "\ea3f";
}
.icon-info_recording_outline:before {
  content: "\ea40";
}
.icon-info_scan_outline:before {
  content: "\ea41";
}
.icon-info_scribe_outline:before {
  content: "\ea42";
}
.icon-info_video_outline:before {
  content: "\ea43";
}
.icon-intelligence_outline:before {
  content: "\ea44";
}
.icon-interfaces_outline:before {
  content: "\ea45";
}
.icon-internal_affairs_outline:before {
  content: "\ea46";
}
.icon-interoperability_outline:before {
  content: "\ea47";
}
.icon-inv_epro_outline:before {
  content: "\ea48";
}
.icon-investigation_outline:before {
  content: "\ea49";
}
.icon-justice_court_outline:before {
  content: "\ea4a";
}
.icon-juvenile_outline:before {
  content: "\ea4b";
}
.icon-jv_rms_outline:before {
  content: "\ea4c";
}
.icon-k9_outline:before {
  content: "\ea4d";
}
.icon-laboratory_outline:before {
  content: "\ea4e";
}
.icon-limited_expertise_outline:before {
  content: "\ea4f";
}
.icon-link_analysis_outline:before {
  content: "\ea50";
}
.icon-lowcode_outline:before {
  content: "\ea51";
}
.icon-map_outline:before {
  content: "\ea52";
}
.icon-mapping_outline:before {
  content: "\ea53";
}
.icon-master_name_index_outline:before {
  content: "\ea54";
}
.icon-mdt_outline:before {
  content: "\ea55";
}
.icon-med_care_outline:before {
  content: "\ea56";
}
.icon-medical_dental_outline:before {
  content: "\ea57";
}
.icon-mim_outline:before {
  content: "\ea58";
}
.icon-mobile_operations_outline:before {
  content: "\ea59";
}
.icon-mobile_sync_outline:before {
  content: "\ea5a";
}
.icon-modules_package_outline:before {
  content: "\ea5b";
}
.icon-money_insurance_outline:before {
  content: "\ea5c";
}
.icon-motion_outline:before {
  content: "\ea5d";
}
.icon-municipal_outline:before {
  content: "\ea5e";
}
.icon-ncic_gateway_outline:before {
  content: "\ea5f";
}
.icon-nfirs_outline:before {
  content: "\ea60";
}
.icon-nibrs_outline:before {
  content: "\ea61";
}
.icon-notifications_outline:before {
  content: "\ea62";
}
.icon-online_trans_outline:before {
  content: "\ea63";
}
.icon-opra_outline:before {
  content: "\ea64";
}
.icon-other_rms_outline:before {
  content: "\ea65";
}
.icon-others_outline:before {
  content: "\ea66";
}
.icon-overview_outline:before {
  content: "\ea67";
}
.icon-paper_less_outline:before {
  content: "\ea68";
}
.icon-patrol_features_outline:before {
  content: "\ea69";
}
.icon-permission_security_outline:before {
  content: "\ea6a";
}
.icon-permits_outline:before {
  content: "\ea6b";
}
.icon-personnel_outline:before {
  content: "\ea6c";
}
.icon-phone_dump_file_outline:before {
  content: "\ea6d";
}
.icon-photography_outline:before {
  content: "\ea6e";
}
.icon-police_outline:before {
  content: "\ea6f";
}
.icon-policy_outline:before {
  content: "\ea70";
}
.icon-productivity_outline:before {
  content: "\ea71";
}
.icon-prosecution_outline:before {
  content: "\ea72";
}
.icon-public_defender_outline:before {
  content: "\ea73";
}
.icon-public_safety_outline:before {
  content: "\ea74";
}
.icon-qa_outline:before {
  content: "\ea75";
}
.icon-queue_server_outline:before {
  content: "\ea76";
}
.icon-quick_deployment_outline:before {
  content: "\ea77";
}
.icon-real_time_outline:before {
  content: "\ea78";
}
.icon-reduce_complexity_outline:before {
  content: "\ea79";
}
.icon-reduce_outline:before {
  content: "\ea7a";
}
.icon-regional_sharing_outline:before {
  content: "\ea7b";
}
.icon-relationship_outline:before {
  content: "\ea7c";
}
.icon-report_generation_outline:before {
  content: "\ea7d";
}
.icon-report_outline:before {
  content: "\ea7e";
}
.icon-resource_reduce_outline:before {
  content: "\ea7f";
}
.icon-rms_outline:before {
  content: "\ea80";
}
.icon-robbery_outline:before {
  content: "\ea81";
}
.icon-rolmes_outline:before {
  content: "\ea82";
}
.icon-sars_outline:before {
  content: "\ea83";
}
.icon-school_alert_outline:before {
  content: "\ea84";
}
.icon-school_securities_outline:before {
  content: "\ea85";
}
.icon-search_function_outline:before {
  content: "\ea86";
}
.icon-security_force_outline:before {
  content: "\ea87";
}
.icon-server_service_outline:before {
  content: "\ea88";
}
.icon-server_support_outline:before {
  content: "\ea89";
}
.icon-sex_crime_outline:before {
  content: "\ea8a";
}
.icon-sheriff_outline:before {
  content: "\ea8b";
}
.icon-situational_awareness_outline:before {
  content: "\ea8c";
}
.icon-sos_outline:before {
  content: "\ea8d";
}
.icon-spca_outline:before {
  content: "\ea8e";
}
.icon-streamline_outline:before {
  content: "\ea8f";
}
.icon-ta_outline:before {
  content: "\ea90";
}
.icon-task_force_outline:before {
  content: "\ea91";
}
.icon-technology_outline:before {
  content: "\ea92";
}
.icon-time_management_outline:before {
  content: "\ea93";
}
.icon-time_reduce_outline:before {
  content: "\ea94";
}
.icon-total_solution_outline:before {
  content: "\ea95";
}
.icon-unit_support_outline:before {
  content: "\ea96";
}
.icon-vertical_integration_outline:before {
  content: "\ea97";
}
.icon-vw_outline:before {
  content: "\ea98";
}
.icon-warehouse_outline:before {
  content: "\ea99";
}
.icon-warrants_outline:before {
  content: "\ea9a";
}
.icon-worker_insurance_outline:before {
  content: "\ea9b";
}
.icon-workflow_outline:before {
  content: "\ea9c";
}
.icon-fax_outline:before {
  content: "\ea9d";
}
.icon-location_outline:before {
  content: "\ea9e";
}
.icon-mail_outline:before {
  content: "\ea9f";
}
.icon-search_outline:before {
  content: "\eaa0";
}
.icon-tel_outline:before {
  content: "\eaa1";
}
